.main-header{
    display:flex;
    padding: 0.5rem 10rem;
    height:4rem;
    width:100%;
    justify-content: space-between;
    align-items: center;
    background-color: #Ffff;
    border-bottom:  1px solid #EBEEF0;
    box-shadow: 0 4rem 2rem #F3F3F3;
}

.main-header .title{
    display:flex;

}
.main-header h2{
    margin:0 1rem
}